@0import url("https://fonts.googleapis.com/css2?family=Battambang:wght@300;400;700;900&family=Noto+Sans+Khmer:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Battambang", cursive;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.nav {
  width: 100%;
  background-color: #26abc5;
  position: relative;
}

.nav-title h1 {
  color: #fff;
  font-size: 30px;
  font-family: "Battambang", cursive;
  padding-left: 30px;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 25px;
  padding-right: 50px;
}

.nav > .nav-links > a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: inline-block;
  transition: 0.5s;
  font-family: "Battambang", cursive;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 700px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.menu {
  float: left;
  width: 20%;
}
.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
}
.right {
  background-color: rgb(244, 245, 234);
  float: left;
  width: 30%;
  padding: 10px 15px;
  margin-top: 7px;
}

@media only screen and (max-width: 800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .menu,
  .main,
  .right {
    width: 100%;
  }
}

header {
  background-color: #259cd3;
  padding: 30px;
  text-align: center;
  font-size: 25px;
  color: white;
}

nav {
  float: left;
  width: 30%;
  height: 300px;
  background: #ffffff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  overflow: scroll;
  height: 300px;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #b80606;
  padding: 10px;
  width: 100%;
  height: 200px;
  text-align: center;
  color: white;
}
a {
  text-decoration: none;
  color: rgb(26, 221, 52);
  font-size: larger;
}

@media (max-width: 600px) {
  nav,
  article {
    width: 100%;
    height: auto;
  }
}
